body {
    color:white;
    background-color: black;
    font-family: 'Raleway', sans-serif;

}
h1 {

    display: flex;
    list-style-type: none;
    padding: 16px;
    align-self: center;
}
    
.img-circular {
    width: 150px;    
    height: 150px;    
    border-radius: 50%;  
    object-fit: cover;  
    border: 3px solid;
    border-color: goldenrod;  
    display: block;  
    margin: 0 auto;  
}




a {
    color: white;
    text-decoration: none;
}
h1 { 
    color:goldenrod;
}

div {
    align-items: center;
    align-content: center;
}

